


.applogo{
    font-weight: 700;
    color: #4a4a4a!important;
}
.navMenu{
    font-weight: 500!important;
    color: #4a4a4a!important;
}
.tableCellHead{
    color: grey;
    font-size: 15px;
    font-weight: 500;
}
.tableCell{
    color: grey;
    font-size: 13px;
    font-weight: 500;
}
.textFormContainer{
    padding: 20px;
    border: 1px solid lightgrey;
    background-color: #f3f3f3;
    /* height: calc(100vh - 100px); */
    height: 100vh;
}
.mediaFormContainer2{
    padding: 20px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: white;

}
.mediaFormContainer{
    padding: 20px;
    border: 1px solid lightgrey;
    background-color: #f3f3f3;

}
.textFormContainer2{
    padding: 20px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: blue;
    background-color: white;
    height: 100%
}
.textField div {

    width: 100%;
}
.textField div input::placeholder{

    font-size: 14px;
    font-weight: 300;
}
.textField div textarea::placeholder{

    font-size: 14px;
    font-weight: 300;
}
.dropdown {
    width: 100%;
}

.formHead{
    color: rgb(124, 123, 123);
    font-size: 16px;
    font-weight: 500;
}
.formLabel{
    margin-top: 10px;
    margin-bottom: 5px;
    color: rgb(124, 123, 123);
    font-size: 14px;
    font-weight: 500;
}
.cardLabel{
    margin-top: 10px;
    color: rgb(145, 144, 144);
    font-size: 13px;
    font-weight: 500;
}
.cardTitle{
    margin-bottom: 5px;
    font-size: 18px;
    color: rgb(75, 74, 74);
    font-weight: 700;
}
.bottomBtn{
    position: absolute;
    bottom: 0px;
    right: 50px;
}

.bottomBtn button{
padding: 7px 50px;
}
.bottomBtn2 button{
padding: 7px 50px;
}

.mainTab div span{
display: none;
}
.mainTab div div button{
padding: 0%;
min-width: 40px!important;
min-height: 40px!important;
}
.mainTab div div button.Mui-selected{
background: #1976d2!important;
color: white!important;
border-radius: 50%!important;
}
.mainTab div div{
    background-color: #dfdbdb82;
    border-radius: 25px;
    margin-right: 20px;
}
.tabpanel {
    height: 240px!important;
}
.tabpanel div{
    padding: 0%;
}

.PieChart div div div svg g g:nth-child(2){
    
    fill: green !important;
}
.alertmeaage{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 40%;
}
.DCC{
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}
